body {
    direction: rtl;
    margin: 0px;

    position: relative;
}

body, p {
    font-family: 'Noto Naskh Arabic', 'serif';
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'Noto Kufi Arabic', 'sans-serif';
}

h1, h2, h3 {
    text-align: center;
}

p {
    margin: 0px;
    margin-bottom: 6px;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

p {
    font-size: 14pt;
}

h1, h2, h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

a:focus, button:focus {
    outline: none;
}

button#mobile_index_toggle {
    display: none;
}

div#credits {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 200px;
    height: 30px;
    padding: 7px 10px;
    background: white;
    border-top: 1px solid hsl(208, 56%, 76%);
    z-index: 200;
    direction: ltr; text-align: left;
}

@media screen {
    body {
        background-color: hsl(100, 0%, 99%);
        border: 1px solid hsl(200, 10%, 90%);
        border-width: 1px 0px;
    }

    /* the main title and author name */
    div#content > h1 {
        font-family: Amiri;
    }

    div#content > h2 {
        font-family: Amiri;
    }

    /* The cover image */
    div#content > img.cover {
        display: block;
    }

    /* The intro */
    div#content > p {
        margin: 1em auto;
    }

    section {
        padding: 0px;
        background-color: hsl(200, 10%, 99%);
        color: hsl(200, 50%, 2%);
    }

    section h1 {
        font-size: 18pt;
    }

    /* for auto reader */
    section {
        // display: none;
    }
    section.visible {
        display: block;
    }

    aside.contents {
        background: hsl(200, 50%, 100%);
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 200;
    }

    aside.contents h1 {
        font-size: 14pt;
    }

    aside.contents ul {
        padding-right: 0px;
    }

    aside.contents h1 {
        border-right: 1px solid hsl(208, 56%, 76%);
        margin: 0px;
    }

    aside.contents ul li {
        padding: 0.25em 1em;
        border-bottom: 1px solid hsl(208, 56%, 76%);
        border-right: 1px solid hsl(208, 56%, 76%);
    }
    aside.contents ul li a {
        text-decoration: none;
        color: hsl(208, 56%, 46%); /* from boostrap */

        display: block;
        width: 100%;
    }

    aside.contents ul li.active,
    aside.contents ul li:active {
        background-color: hsl(208, 56%, 46%); /* inverse text/bg colors */
        border-right: 1px solid hsl(208, 56%, 46%);
    }

    aside.contents ul li.active a,
    aside.contents ul li:active a {
        color: white;
    }
}

/* dimensions for normal computer screen */
@media screen and (min-device-width: 500px) {

    /* make space for the side content list */
    div#content {
        padding-left: 200px;
    }

    /* the main title and author name */
    div#content > h1 {
        margin-top: 8em;
        margin-bottom: 0px;
    }

    div#content > h2 {
        margin-bottom: 12em;
    }

    /* The cover image */
    div#content > img.cover {
        margin: 200px auto;
        max-width: 700px;
    }

    div#content > p {
        width: 800px;
    }

    blockquote {
        border-left: none;
        border-right: 5px solid hsl(0, 0%, 93%);
    }

    section {
        max-width: 700px;
        padding: 10px 20px;
        margin: 0px auto;
    }

    aside.contents {
        width: 200px;
    }

    aside.contents {
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        padding: 0px;
    }

    aside.contents h1 {
        padding: 30px 10px;
    }
}

/* dimensions for mobile screens */
@media screen and (max-device-width: 500px) {

    div#credits {
        display: none;
    }

    button#mobile_index_toggle {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        border-radius: 0px 0px 5px 0px;
        border: 1px solid silver;
        background-color: white;
        color: black;
        box-shadow: -1px -1px 2px 1px grey;
        z-index: 300; /* more than the side contents */
    }

    aside.contents {
        display: none;
    }
    aside.contents.mobile_visible {
        display: block;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 170px;
        overflow-x: none;
        overflow-y: auto;
        box-shadow: 0px 0px 2px 1px grey;
    }

    div#content {
        padding: 0px;
    }

    section, div#content > p {
        padding: 16px;
    }

    div#content,
    div#content > * {
        margin-left: auto;
        margin-right: auto;
    }
}

@media print {
    aside.contents {
        display: none;
    }

    div#credits {
        display: none;
    }


    div#content > h1 {
        font-family: Amiri;
        font-size: 2.4em;
        margin: 4em;
        line-height: 24px;
    }

    div#content > h2 {
        font-family: Amiri;
        margin: 1em;
    }

    section {
        position: relative;
    }

    section h1 {
        position: relative;
        width: 100%;
        page-break-after: avoid;
    }

    p {
        position: relative;
        page-break-inside: avoid;
    }

    img.cover {
        width: 100%;
        margin: 0px;
        margin-bottom: 4em;
        page-break-before: always;
        page-break-after: always;
    }

    @page {
        padding: 0.4in 0.6in;
    }
}
